.navbar{
  
 
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 3;
  background: hsla(0,0%,100%,.98);
  
}
.navbar-background{
  padding:5px 20px;
}
.navbar-brand{
  font-size: 30px;
  margin-left:50px
}
.navbar-brand:hover{
color:#00ccb1;

}
.nav-link:hover{
  color:#00ccb1;
  text-decoration: none;
 
  font-size: 25px;

}
.nav-link{
  color:#ababab;
  font-size:18px;
}


.toggler-btn{
  border:2px solid #00ccb1;
  padding:5px;
}
  .bar{
    width: 30px;
    height: 3px;
    margin:5px;
    background: #00ccb1;
   


}
.change .bar1{
  transform: rotate(-45deg) translate(-5px,5px);
}
.change .bar2{
  transform: rotate(-45deg) translate(-5px,5px);
  opacity: 0;
}
.change .bar3{
  transform: rotate(45deg) translate(-5px,-8px);
}
    




.col{
margin-top: 28px;}
.img{
  width: 3rem;
  height: 3rem;
  border: none;
}
.active{
  color:#00ccb1;
}
.font-weight-bold{
  color:#00ccb1;
  font-size: 1.7rem
}
.font-weight-bolder{
  color:#ababab;
  font-size: 1.7rem
}
.navbar-collapse{
  position: relative;
  margin-left:600px
}
.display-6{
  font-size: 2.125rem;
  color: #00b39b;
  text-align: center; 
}
/***********************services***********************************/
.service-card-patients{
   
  overflow: hidden;
  background-color: #00ccb1
}
.service-card-doctors{
 
  overflow: hidden;
  background-color:#3d83df;
}

.service-card-img{
  left:12.5rem;
width: 25rem;

}
.service-card-imgg{
  left:13rem;
width: 29rem;
margin-top: 1em;
padding: 1.375em 3.5em 0;


}
/***********************************company*********************************/
.colr{
  color:#ababab;
}
/************************************Card******************************/
#card{
  background-image: url('./bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.small-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  
}
.smalll-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*left:670px*/
}
.text{
  color: #00b39b;
 text-align: center

}
.smallll-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
  
  
}
.feature-card {
  color: #00b39b;
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  min-height: 250px;
  border-radius: 4px;
}
.feature-card-description {
  color: grey;
}

.title {
  color: white;
  padding-left: 20px;
}

.organisationn {
  display:flex;
  flex-wrap: wrap;

 }

 
/***************************item********************************/
.organisation {
display:flex;
flex-wrap: wrap;
justify-content:center;}
.horizentale{
  display:flex;
  justify-content: space-between;
  padding:2px;
  font-size: 1.5rem;
  color: #747474;
}
.card{
  display:flex;
flex-wrap: wrap;
justify-content:center;
margin-left:15px;
}
.org{
  flex-wrap:wrap;
justify-content: space-between
}
/**************************footer**********************/
.text-footer{
  
  
  color: #747474;
}


